.checkbox {
  display: flex;
  gap: 10px;
  align-items: center;
  height: 24px;

  &__mark {
    opacity: 0;
  }

  &__label {
    @include fontSetContent(400, 14px, 16px, #787878);
    text-align: left;
    position: relative;
    padding-left: 5px;

    &::after,
    &::before {
      position: absolute;
      display: inline-block;
    }

    &::before {
      content: "";
      height: 24px;
      width: 24px;
      box-sizing: border-box;

      top: -5px;
      left: -29px;
      background-color: #FFFFFF;
      border: 2px solid #787878;
      border-radius: 7px;
    }

    &::after {
      content: url('../img/vector.svg');
      left: -25px;
      top: 0px;
    }
  }

  &__link {
    color: #787878;
    text-decoration: underline;
  }
}

.checkbox .checkbox__mark+.checkbox__label::after {
  content: none;
}

.checkbox .checkbox__mark:checked+.checkbox__label::after {
  content: url('../img/vector.svg');
}