html {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  @include fontSetContent(400, 16px, 19px, $black);
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 20px;
}