.input-form {
  padding: 26px 45px;

  &__label {
    padding-left: 8px;
  }

  &__input {
    width: 510px;
    margin-bottom: 16px;
  }

  &__check {
    margin-bottom: 13px;

    &-label {
      padding-left: 10px;

      &::after {
        left: -19px;
      }

      &::before {
        left: -23px;
      }
    }
  }

}