.login-form {
  background-color: $white;
  box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 600px;
  height: 412px;
  margin: 82px auto;
  padding: 30px 44px 26px 34px;
  display: flex;
  flex-direction: column;
  transition: 0.4s;

  &__title {
    text-align: center;

    @include fontSetContent(700, 50px, 50px, $color-text);
    margin-bottom: 13px;
  }

  &__label {
    margin-bottom: 3px;
    padding-left: 19px;
    @include fontSetContent(700, 16px, 16px, $color-text);
    position: relative;
  }

  &__item {
    display: flex;
    align-items: flex-start;

    svg {
      margin-top: 7px;
      margin-right: 3px;
    }
  }

  &__input {
    width: 509px;
    height: 49px;
    background: $white;
    border: 2px solid $color-text;
    border-radius: 10px;
    box-sizing: border-box;
    padding-top: 7px;
    padding-left: 15px;
    @include fontSetContent(700, 28px, 36px, $color-text);
    transition: border 0.5s ease;

    &:focus {
      border: 2px solid #323131;
      transition: border 0.5s ease;
    }


    &::placeholder {
      @include fontSetContent(700, 28px, 36px, $color-placeholder);
    }
  }

  &__star {
    margin-bottom: 10px;
  }

  &__label[class~="invalid"]+&__item>svg path {
    fill: $color-errors;
  }

  &__check[class~="invalid"]>svg path {
    fill: $color-errors;
  }

  .checkbox__mark[class~="border_red"]+.checkbox__label::before {
    border: 2px solid $color-errors;
  }

  &__alert {
    @include fontSetContent(500, 10px, 16px, $color-errors);
    margin-bottom: 13px;
    padding-left: 13px;
  }


  &__btn {
    margin-top: auto;
    align-self: center;

    width: 180px;
    height: 52px;
    background-color: $color-btn;
    border-radius: 10px;
    @include fontSetContent(700, 24px, 16px, $white);
    transition: all 0.3s ease;

    &:hover {
      background-color: #0c1457;
      box-shadow: 0px 0px 20px 10px rgba(56, 30, 159, 0.25);
      transition: all 0.3s ease;
    }
  }
}

.border_red {
  border: 2px solid $color-errors;
}

.color_red {
  color: $color-errors;
}

.valid {
  color: $color-btn;
  font-size: 15px;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}