.input-form {


  @media screen and (max-width:768px) {
    padding: 38px 45px 0 45px;
  }
}

.login-form {
  @media screen and (max-width:768px) {
    max-width: 728px;
    min-height: 697px;
  }

  &__btn {
    @media screen and (max-width:768px) {
      margin-top: auto;
      margin-bottom: 242px;
    }
  }
}